body { background-color: #f0e0ff; color:#202; font-family:Century Gothic, CenturyGothic, AppleGothic, sans-serif; overflow:hidden; }

table { border:1px solid black; border-collapse:collapse; }

table tr { background: #cac1bf; }
table tr:nth-child(odd) { background:#dad1cf; }

table tr th { background:#c0aecf; border-bottom:1px solid black; color:white; }
table tr td { padding: 3px 8px; color: #443434; }


