body { background-color: #f0e0ff; color:#202; font-family:Century Gothic, CenturyGothic, AppleGothic, sans-serif; overflow:hidden; }

.main { margin:auto; } 
.main img { display:block; margin:auto; }
.main img.fullWidth { width:100%; margin-top:45px; }

.main p { text-align:center; margin: 4px 0;}
.main p.name { font-size: 45px; font-weight:800; }
.main p.title { font-size: 18px; font-weight:600; }
.main a { color: #75658A; }
.main a:hover { color: #535; text-decoration:none; }
